@import "../css/main.scss";
#searchbar-container{
    display: flex;
    //height: 10vh;
    place-content: space-between;
    align-items: center;
    //float:left;
    width:calc(100%-6em);
    #select-container{
    //height: 10vh;
        display:flex;
        width:30%;
        place-content: space-between;
        align-items: center;
        select{
            padding:0.5em .5em;
            outline:none;
            border: 1px solid #ECECEC;
            border-radius: .5em;
        }
    }
    #search-container{
        display:flex;
        //height: 10vh;
        width:25%;
        place-content: space-between;
        align-content: center;
        input[type=text]{
            //width: 80%;
            padding: 0em .5em;
            //height:5vh;
            margin-bottom: 1em;
            border-radius: .5em;
            border: 1px solid #ECECEC;
            box-sizing: border-box;
            outline: none;
        }
        .btn{
            font-size: 1em !important;
            align-self: center;
            margin-bottom: .6em;
        }
    }
}
.title{
    font-weight: 700;
    font-size:2em;
    margin:2em 0em;
}
.card-display{
    display: flex;
    flex-wrap: wrap;
    place-content: space-between;
    .card-container{
        display: flex;
        //width:8%;
        padding: .5em;
        margin: 1em;
        border-radius: 28px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}
