@import "./main.scss";
.hero-container{
    height: 100vh;
    padding: 5em 2em 2em 2em;
    .header{
        text-align: center;
        .h3{
            display:block;
            font-family: var(--logo-font);
            font-size: 5em;
            font-weight: 700;
        }
        .p{
            display:block;
        }
        .moving_gear{
            display:none;
        }
    }
}