@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
:root {
  --primary-color:#05294B;
  --primary-spacing: 2px;
  --logo-font:Comfortaa;
  --primary-font:Roboto;
  --primary-btn:primary-btn;
}

html, body {
  margin: 0;
  font-family: Roboto;
  letter-spacing: var(--primary-spacing);
  max-width: 100%;
  overflow-x: hidden;
}

.primary-btn {
  background: var(--primary-color);
  color: white;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: .4em .5em;
  border-radius: 1em;
  border: none;
}

.primary-btn:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
  height: 100vh;
}

.container .form {
  font-family: var(--primary-font);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 10%;
}

.container .form h3 {
  color: black;
  font-size: 22px;
}

.container .form form {
  margin-top: 3em;
}

.container .form label {
  color: black;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: block;
  font-size: 16px;
  margin-bottom: 0.5em;
}

.container .form .btn-row {
  margin-top: 3em;
  text-align: center;
}

.container .form input, .container .form textarea {
  width: 80%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: .5em;
  border: 1px solid #ECECEC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.container .form .primary-btn {
  background: var(--primary-color);
  color: white;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: .4em .3em;
  border-radius: 1em;
  border: none;
}

.container .form .primary-btn:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .yellow_gear {
  width: 12em !important;
  height: 12em !important;
  top: 6% !important;
  left: 8% !important;
}

.container .blue_gear {
  width: 28em;
  height: 28em;
  top: 40%;
  left: 70% !important;
}

.container .grey_gear {
  width: 18em;
  height: 18em;
  top: 40%;
  left: 60% !important;
  display: block;
}

@media only screen and (min-width: 768px) {
  h3 {
    color: black !important;
    font-size: 30px !important;
  }
  label {
    color: black !important;
    display: block;
    font-size: 18px !important;
    margin-bottom: 0.5em;
  }
  .row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
  }
  .btn-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .primary-btn {
    font-size: 18px !important;
    -ms-grid-column-align: center !important;
        justify-self: center !important;
    -ms-flex-item-align: center !important;
        -ms-grid-row-align: center !important;
        align-self: center !important;
  }
  .yellow_gear {
    width: 12em !important;
    height: 12em !important;
    top: 6% !important;
    left: 8% !important;
  }
  .blue_gear {
    width: 28em;
    height: 28em;
    top: 40%;
    left: 70% !important;
  }
  .grey_gear {
    width: 18em;
    height: 18em;
    top: 40%;
    left: 60% !important;
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  .form {
    width: 35%;
  }
  .yellow_gear {
    width: 15em !important;
    height: 15em !important;
    top: 8% !important;
    left: 10% !important;
  }
  .blue_gear {
    width: 28em;
    height: 28em;
    top: 40%;
    left: 70% !important;
  }
  .grey_gear {
    width: 18em;
    height: 18em;
    top: 40%;
    left: 60% !important;
    display: block;
  }
}

@media only screen and (min-width: 1600px) {
  .form {
    width: 35%;
  }
  .yellow_gear {
    width: 25em !important;
    height: 25em !important;
    top: 8% !important;
    left: 13% !important;
  }
  .blue_gear {
    width: 28em;
    height: 28em;
    top: 60% !important;
    left: 100% !important;
  }
  .grey_gear {
    width: 16em;
    height: 16em;
    top: 40%;
    left: 60% !important;
    display: block;
  }
}
/*# sourceMappingURL=Login.css.map */