@import './main';

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
    &:hover{
        font-weight: bold;
    }
}
.easy-nav-bar{
    background-color: transparent;
    padding: 1em 3em;
    font-family: var(--primary-font);
    top:0;
    left:0;
    .logo{
        display: flex;
        align-items: center;
        .logo-pic{
            width: 2em;
            height: 2em;
            margin-right:0.5em;
        }
    
        .logo-words{
            text-decoration: none;
            font-family: Comfortaa;
            font-weight: 700;
            font-size: 1.2em;
            color: var(--primary-color);
        }
    }
}
.nav-bar{
    padding: 1em 3em;
    font-family: var(--primary-font);
    //position:fixed;
    top:0;
    left:0;
    right:0;
    background-color: white;
    z-index: 999;
    .nav-container{
        display: flex;
        place-content: space-between;
        align-items: center;
    }
    .logo{
        display: flex;
        align-items: center;
        .logo-pic{
            width: 2em;
            height: 2em;
            margin-right:0.5em;
        }
    
        .logo-words{
            text-decoration: none;
            font-family: Comfortaa;
            font-weight: 700;
            font-size: 1.2em;
            color: var(--primary-color);
        }
    }

    .mobile-menu{
        cursor: pointer;
        width: 1.5em;
        height: 1.5em;
    }

    .nav-bar #avatar{
        justify-self: right;
        svg{
            width: 2em;
            height: 2em;
            padding: .1em;
            border: 3px solid white;
            border-radius: 50%;
            &:hover{
                border: 3px solid #ECECEC;
            }
        }
    }

    nav{
        display: none;
    }
}

@media only screen and (min-width:768px){
    .mobile-menu{
        display:none;
    }
    .nav-bar .nav-container{
        display: grid;
        grid-template-columns: 180px auto 180px;
        justify-content: unset;

    }
    .nav-bar nav{
        place-content:space-between;
        display: flex;
        justify-content: space-between;
        background: none;
        position :unset;
        height: auto;
        width:100%;
        padding:0;
        ul{
            display:flex;
            .routes{
                font-size:1em;
                padding: .1em 1em;
                margin-left: 2em;
            }
        }
    }
    .nav-bar #avatar{
        justify-self: right;
        svg{
            width: 2em;
            height: 2em;
            padding: .1em;
            border: 3px solid white;
            border-radius: 50%;
            &:hover{
                border: 3px solid #ECECEC;
            }
        }
    }
   
}

.accountcard{
    padding: 1em 1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display:block;
    position: fixed;
    z-index: 999;
    width: 5em;
    height: auto;
    right: 3em;
    top: 4em;
    background-color: white;
    border-radius: 5px;
    border: solid .1px #ECECEC;
    li{
        list-style: none;
        margin:.5em;
    }

}